.expense-item:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.expense-item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 0.5px solid var(--separator);
    transition: all 0.2s ease;

    background: var(--bg-primary);
}

.expense-item:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.expense-item:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom: none;
}

/* .expense-item:hover {
    background: var(--system-gray6);
} */

.expense-item:active {
    background: var(--system-gray5);
}

.expense-info {
    flex-grow: 1;
}

.expense-name {
    font-weight: 500;
    color: var(--text-primary);
    font-size: 17px;
}

.expense-amount {
    color: var(--text-secondary);
    font-weight: 600;
    margin-right: 12px;
    font-size: 17px;
}

.checkbox {
    width: 22px;
    height: 22px;
    cursor: pointer;
    
    accent-color: var(--system-green);
}

.expense-item.paid {
    opacity: 0.5;
}

.expense-item.paid .expense-name {
    text-decoration: line-through;
}